.text-area {
    /* width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px; */
    border-radius: 6px;
    border : 3px solid #8DA4D0;
    width: 100%;
    height: 3rem;
    margin : 3% 0;
}

input:focus {
   outline: none; 
}
.submit-btn {
    color: white;
    border : none;
    background-color: #8DA4D0;
}

.submit-btn:hover {
    background-color: #8DA4D0;
}

.text-div {
    text-align: center;;
}

.submit-title {
    font-weight: bold;
}

.select-mode {
    color : #8DA4D0;
}