#login-modal .text-area {
    /* width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px; */
    border-radius: 6px;
    border : 3px solid #8DA4D0;
    width: 100%;
    height: 3rem;
    margin : 2% 0;
}

#login-modal input:focus {
   outline: none; 
}
#login-modal .submit-btn {
    color: white;
    border : none;
    background-color: #8DA4D0;
}

#login-modal .text-div {
    text-align: center;;
}

#login-modal .submit-title {
    font-weight: bold;
}

#login-modal .select-mode {
    color : #8DA4D0;
}
