.problems-list {
    /* background-color: gainsboro; */
    border-radius: 10px;
    padding : 3%;
} 

#title {
    margin : 3% 0%;
}

.problem {
    /* background-color: gainsboro; */
    border-top: 1px solid black;
    padding : 4%;

}

.problem-title {
    margin: 0;
}